body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}



h2, h3 {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
}
.Name {
    position: relative;
    width:300px;
    height:200px;
    text-align: center;
    left: 100px;
    top: 100px;
    

}

.top {
    background-color: red;
    height: 80px;
    border-radius: 10px 10px 0px 0px;
  
    
}

.mid {
    font-size: 2.2rem;
    font-family:sans-serif;
   
}

.bottom{
    background-color: red;
    height: 30px;
    border-radius: 0px 0px 10px 10px;
}
